[Unit]
Description=ferryd repository management
After=network.target

[Service]
Type=notify
WorkingDirectory=/srv/ferryd/root
ExecStart=/usr/local/bin/ferryd -d /srv/ferryd/root -s /run/ferryd.sock
User=ferryd
Group=ferryd

[Install]
WantedBy=multi-user.target
