[Unit]
Description=ferryd control socket
PartOf=ferryd.service

[Socket]
ListenStream=/run/ferryd.sock
SocketUser=ferryd
SocketGroup=ferryd
SocketMode=0660

[Install]
WantedBy=sockets.target
