[Unit]
Description=ferryd repository management
After=network.target ferryd.socket
Requires=ferryd.socket

[Service]
Type=notify
WorkingDirectory=/srv/ferryd/root
ExecStart=/usr/bin/ferryd daemon
User=ferryd
Group=ferryd

[Install]
WantedBy=multi-user.target
